<div class="text-center">
    <h1 class="display-4">The Joel Hilton Film Collection</h1>
    <p1>A super sick web application to show off the even more super sick film collection of the renowned Joel Hilton.</p1>
    <br />
    <br />
    <p2>A more sicker thing has never before been seen.</p2>
    <br />
    <br />
    <img src="~/joelhiltonheadshot.jpg" />
</div>
