<h1>@ViewData["Title"]</h1>

<h1>Get to know Joel</h1>
<div>
    <p1>Let's just say that Joel is the type of guy that everyone's Mom wishes they would spend more time with.
        He's the kind of guy that would take the time to pick you up from jail if you happened to get arrested for stealing another
        slurpee from that Maverick the interstate. He's the type of guy where all the relief society sisters get sad because he didn't marry
        their daughter. Companies lament that they can't clone him and employ all his clones. Children stay awake and cry at night simply
        because he isn't the father that they were born to.<br />
        All of this is overshadowed by his intense humility. Legend has it that he once saved a small village in Africa by single handedly
        defeating a terrorist organization with nothing more than refined ju-jitsu skills. No one will ever know for sure because he is too humble
        to tell the tale.<br />

    </p1>
</div>
<br />
<br />
<h1>Cool stuff:</h1><br />
<p1>The link to the comedy club where he performs (regularly): </p1><br />
<a href="https://www.qwcomedy.com/">Quick Wits</a><br />
<p1>The link to his podcast:</p1><br />
<a href="https://baconsale.com/">Baconsale</a><br />
<a href="https://baconsale.com/">
    <img src="~/baconsalekate.jpg" style="width:45%; height:auto;"/>
</a>

